.photo-grid {
  margin-top: 92px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 16px;
}
@media screen and (max-width: 1279px) {
  .photo-grid {
    max-width: 90%;
    margin: 92px auto 0px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 14px;
  }
}
@media screen and (max-width: 1023px) {
  .photo-grid {
    max-width: 94%;
    margin: 88px auto 0px;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}
@media screen and (max-width: 767px) {
  .photo-grid {
    max-width: 90%;
    margin: 64px auto 0px;
    grid-template-columns: 1fr;
    gap: 12px;
  }
}
