.place__link {
  margin-top: 12px;
  color: #FFFFFF;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  height: fit-content;
  transition: opacity 0.4s ease-in-out;
}
.place__link:hover {
  opacity: 0.2;
}
