.place__link {
  color: #FFFFFF;
  font-family: 'Inter 400';
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  height: fit-content;
  transition: opacity 0.4s ease-in-out;
}
.place__link:hover {
  opacity: 0.2;
}
