.place {
  display: grid;
  grid-template-columns: minmax(auto, 1fr) minmax(auto, 1fr);
  grid-template-rows: 1fr 460px;
  gap: 48px 40px;
  margin-bottom: 80px;
}
.place:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 1279px) {
  .place {
    grid-template-rows: 1fr 440px;
    gap: 48px 32px;
  }
}
@media screen and (max-width: 1023px) {
  .place {
    grid-template-rows: auto;
    gap: 48px 28px;
    margin-bottom: 73px;
  }
}
@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: minmax(auto, 1fr);
    gap: 32px;
    margin-bottom: 50px;
  }
}
